<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button class="btn btn-link"
        routerLink="/"
        >To Home</button>
    </div>

    <div class="info">
        <strong>Author </strong>

        <small>12.09.2021</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit ratione adipisci atque sit voluptas alias consequatur earum harum, aspernatur unde. Dolor accusantium nihil voluptatibus hic maiores veritatis blanditiis ex facere, nesciunt dolorum laborum corporis voluptas iste, vitae minima, numquam illum quae eaque! Possimus officia deserunt voluptatum temporibus optio tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit ratione adipisci atque sit voluptas alias consequatur earum harum, aspernatur unde. Dolor accusantium nihil voluptatibus hic maiores veritatis blanditiis ex facere, nesciunt dolorum laborum corporis voluptas iste, vitae minima, numquam illum quae eaque! Possimus officia deserunt voluptatum temporibus optio tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit ratione adipisci atque sit voluptas alias consequatur earum harum, aspernatur unde. Dolor accusantium nihil voluptatibus hic maiores veritatis blanditiis ex facere, nesciunt dolorum laborum corporis voluptas iste, vitae minima, numquam illum quae eaque! Possimus officia deserunt voluptatum temporibus optio tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit ratione adipisci atque sit voluptas alias consequatur earum harum, aspernatur unde. Dolor accusantium nihil voluptatibus hic maiores veritatis blanditiis ex facere, nesciunt dolorum laborum corporis voluptas iste, vitae minima, numquam illum quae eaque! Possimus officia deserunt voluptatum temporibus optio tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit ratione adipisci atque sit voluptas alias consequatur earum harum, aspernatur unde. Dolor accusantium nihil voluptatibus hic maiores veritatis blanditiis ex facere, nesciunt dolorum laborum corporis voluptas iste, vitae minima, numquam illum quae eaque! Possimus officia deserunt voluptatum temporibus optio tempore.</p>
    </div>
</div>